@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: #3ed7ed;
}
h1 {
  text-align: center;
}
img {
  border-radius: 10px;
  display: block;
  margin: auto;
  border: solid 2px black;
}

.imagenes {
  background-color: #ffffff;
  margin-top: 1px;
  display: block;
}
nav {
  background-color: #ffffff;
  text-align: center;
  font-size: 18px;
  margin: 15px;
  border-radius: 20px;
  padding: 10px;
}
nav a {
  text-decoration: none;
  color: #000000;
  border-radius: 20px;
  background-color: #32fad9;
  padding: 5px;
}
main {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: fixed;
}

section {
  order: 0;
  flex: 1 1 100%;
  max-width: 70%;
}

aside {
  max-width: 25%;
  flex: 1 1 100%;
  order: 1;
  background-color: #ffffff;
  border-radius: 10px;
}
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}
.noticiaPrincipal {
  max-width: 98%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 10px;
  justify-content: center;
}

.noticiaPrincipalContenido1 {
  max-width: 50%;
  flex: none;
  display: flex;
  flex: 1 1 100%;
  order: 0;
  justify-content: center;
}
.noticiaPrincipalContenido2 {
  max-width: 40%;
  flex: 1 1 100%;
  order: 1;
  margin: 2px;
  background-color: #32fad9;
}
.seccionFotos1 {
  max-width: 98%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 20px;
  justify-content: center;
}
.seccionFotos2 {
  max-width: 98%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 20px;
  justify-content: center;
}
.foto1 {
  max-width: 25%;
  flex: none;
  display: flex;
  flex: 1 1 100%;
  order: 1;
  margin: 2px;
  height: 200px;
  justify-content: center;
}
.foto2 {
  max-width: 25%;
  flex: none;
  display: flex;
  flex: 1 1 100%;
  order: 1;
  margin: 2px;
  height: 200px;
  justify-content: center;
}
.foto3 {
  max-width: 25%;
  flex: none;
  display: flex;
  flex: 1 1 100%;
  order: 2;
  margin: 2px;
  height: 200px;
  justify-content: center;
}
.noticiaNueva {
  max-width: 98%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ffffff;
}
.noticiaDestaco {
  max-width: 40%;
  flex: none;
  display: flex;
  flex: 1 1 100%;
  order: 0;
  width: 200px;
  margin: 2px;
  background-color: #f8f8ffde;
  justify-content: center;
}
.noticiaDestaco2 {
  max-width: 40%;
  flex: none;
  flex: 1 1 100%;
  order: 0;
  width: 200px;
  margin: 2px;
  background-color: #32fad9;
}
.publicidadPeriodico {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.importantePublicidad {
  max-width: 40%;
  flex: none;
  display: flex;
  flex: 1 1 100%;
  order: 0;
  width: 200px;
  margin: 2px;
}
.importantePublicidad2 {
  max-width: 40%;
  flex: none;
  flex: 1 1 100%;
  order: 0;
  width: 200px;
  margin: 2px;
}
.caricaturas {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.seccionCaritcatura1 {
  max-width: 80%;
  flex: none;
  display: flex;
  flex: 1 1 100%;
  order: 0;
  height: 200px;
  margin: 2px;
  justify-content: center;
}
.seccionCaritcatura2 {
  max-width: 80%;
  flex: none;
  display: flex;
  flex: 1 1 100%;
  order: 0;
  height: 200px;
  margin: 2px;
  justify-content: center;
}
.seccionDepoortes {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.deporte1 {
  max-width: 24%;
  flex: none;
  flex: 1 1 100%;
  order: 0;
  margin: 2px;
  height: 350px;
  background-color: #ffffff;
  text-align: center;
}
.deporte2 {
  max-width: 24%;
  flex: none;
  flex: 1 1 100%;
  order: 1;
  margin: 2px;
  height: 350px;
  background-color: #ffffff;
  text-align: center;
}
.deporte3 {
  max-width: 24%;
  flex: none;
  flex: 1 1 100%;
  order: 2;
  margin: 2px;
  height: 350px;
  background-color: #ffffff;
  text-align: center;
}
.deporte4 {
  max-width: 24%;
  flex: none;
  flex: 1 1 100%;
  order: 3;
  margin: 2px;
  height: 350px;
  background-color: #ffffff;
  text-align: center;
}
.redesSociales {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 20px;
}
.formulario {
  max-width: 25%;
  order: 0;
  flex: 1 1 100%;
  margin: 10px;
}
form {
  border-radius: 10px;
  background-color: #32fad9;
  color: black;
  padding: 10px;
  margin: 0 auto;
  width: 200px;
}
textarea {
  border-radius: 10px;
  max-width: 80%;
  padding: 5px;
  border: 0;
  outline: 0;
  background-color: #999;
}
input[type="submit"] {
  padding: 10px;
  color: #ffffff;
  background-color: #12db7b;
  border-radius: 5px;
  border-style: none;
}
input[type="text"] {
  border-radius: 5px;
  padding: 5px;
}

.facebook {
  max-width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}
.empresaInfo {
  display: flex;
  max-width: 50%;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
caption {
  font-weight: 600;
}
caption,
th {
  border: solid 2px black;
}
